<h1>
  For developers only. No design, sorry!!!
</h1>

<button igxButton="outlined" *ngIf="!loggedIn" (click)="start()">Log in</button>
<div *ngIf="loggedIn">
  <igx-date-picker [(ngModel)]="startDate"></igx-date-picker>
  <igx-date-picker [(ngModel)]="endDate"></igx-date-picker>
  <igx-select [(ngModel)]="selected">
    <igx-select-item *ngFor="let type of reports" [value]="type">
      {{type}}
    </igx-select-item>
  </igx-select>
  <button igxButton="outlined" (click)="loadData()">Load data</button>
  <div *ngIf="frameworksData">
    <igx-tabs>
      <igx-tabs-group label="Chart">
        <igx-pie-chart [dataSource]="frameworksData" width="300px" height="300px" labelMemberPath="frameworkName"
          valueMemberPath="totalEvents" [legend]="legend" othersCategoryThreshold="1">
        </igx-pie-chart>
        <igx-item-legend #legend height="100px" width="100px">
        </igx-item-legend>
      </igx-tabs-group>
      <igx-tabs-group label="Table">
        <igx-hierarchical-grid #hierarchicalGrid [data]="frameworksData" [autoGenerate]="true" [width]="'500px'">
          <igx-row-island [key]="'commands'" [autoGenerate]="true">
          </igx-row-island>
        </igx-hierarchical-grid>
      </igx-tabs-group>
    </igx-tabs>
  </div>
  <div *ngIf="projectTypesData">
    <igx-tabs>
      <igx-tabs-group label="Chart">
        <igx-pie-chart [dataSource]="projectTypesData" width="300px" height="300px" labelMemberPath="projectType"
          valueMemberPath="totalEvents" [legend]="legend" [othersCategoryThreshold]="1">
        </igx-pie-chart>
        <igx-item-legend #legend height="100px" width="100px">
        </igx-item-legend>
      </igx-tabs-group>
      <igx-tabs-group label="Table">
        <igx-hierarchical-grid #hierarchicalGrid [data]="projectTypesData" [autoGenerate]="true" [width]="'500px'">
          <igx-row-island [key]="'commands'" [autoGenerate]="true">
          </igx-row-island>
        </igx-hierarchical-grid>
      </igx-tabs-group>
    </igx-tabs>
  </div>
  <div *ngIf="templatesData">
    <igx-tabs>
      <igx-tabs-group label="Chart">
        <igx-pie-chart [dataSource]="templatesData" width="300px" height="300px" labelMemberPath="templateName"
          valueMemberPath="totalEvents" [legend]="legend" [othersCategoryThreshold]="1">
        </igx-pie-chart>
        <igx-item-legend #legend height="100px" width="100px">
        </igx-item-legend>
      </igx-tabs-group>
      <igx-tabs-group label="Table">
        <igx-hierarchical-grid #hierarchicalGrid [data]="templatesData" [autoGenerate]="true" [width]="'500px'">
          <igx-row-island [key]="'commands'" [autoGenerate]="true">
          </igx-row-island>
        </igx-hierarchical-grid>
      </igx-tabs-group>
    </igx-tabs>
  </div>
</div>