<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<button igxButton="outlined" *ngIf="!loggedIn" (click)="start()">Log in</button>
<div *ngIf="loggedIn">
  <igx-date-picker [(ngModel)]="startDate"></igx-date-picker>
  <igx-date-picker [(ngModel)]="endDate"></igx-date-picker>
  <igx-select [(ngModel)]="selected">
    <igx-select-item *ngFor="let type of reports" [value]="type">
      {{type}}
    </igx-select-item>
  </igx-select>
  <button igxButton="outlined" (click)="loadData()">Load data</button>
  <div *ngIf="data">
    <igx-tabs>
      <igx-tabs-group label="Chart">
        <igx-pie-chart [dataSource]="data" width="300px" height="300px" labelMemberPath="Framework"
          valueMemberPath="TotalEvents" [legend]="legend" othersCategoryThreshold="1">
        </igx-pie-chart>
        <igx-item-legend #legend height="100px" width="100px">
        </igx-item-legend>
      </igx-tabs-group>
      <igx-tabs-group label="Table">
        <igx-hierarchical-grid #hierarchicalGrid [data]="data" [autoGenerate]="true" [width]="'400px'">
          <igx-row-island [key]="'Command'" [autoGenerate]="true">
          </igx-row-island>
        </igx-hierarchical-grid>
      </igx-tabs-group>
    </igx-tabs>
  </div>
</div>