.image-container {
    width: 100px;
    height: 100px;
}

.image-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}