@import "~igniteui-angular/lib/core/styles/themes/index";
@import "../themes/variables";

$custom-card-theme: igx-card-theme(
    $border-radius: 0,
    $header-text-color: $primary-color,
    $content-text-color: black
);


.event-card {
    @include igx-css-vars($custom-card-theme);
    min-height: 130px;
    display: grid;
    .card-content {
        padding: 0;
        .image-container {
            width: fit-content;
            height: fit-content;
            margin: 15px;
            max-height: 100px;
        }
        .igx-card-header__tgroup {
            display: inline-block;
        }
    }
}
