@import "~igniteui-angular/lib/core/styles/themes/index";
@import "../themes/variables";

$custom-card-theme: igx-card-theme(
    $background: $secondary-600,
    $border-radius: 0,
    $header-text-color: white,
    $content-text-color: white
);

.calendar-container {
    min-width: 450px;
}
.calendar-header-card {
    @include igx-css-vars($custom-card-theme);
    margin: 10px;
    min-height: 130px;
    display: grid;
    igx-card-header {
        font-size: 24px;
        padding-top: 0;
    }
}

.event-container {
    margin: 10px;
}