<div class="container">
  <div class="calendar-container">
    <div class="calendar-header">
      <igx-card>
        <igx-card-content>
          {{startDate.getFullYear()}}
        </igx-card-content>
        <igx-card-header>
          {{formatDateForHeader(startDate)}} - {{formatDateForHeader(endDate)}}
        </igx-card-header>
      </igx-card>
    </div>
    <div class="calendar">
      <igx-calendar #calendar selection="range" [value]="[startDate, endDate]" [viewDate]="startDate"
        (onSelection)="dateRangeChanged($event)"></igx-calendar>
    </div>
  </div>
  <div class="data">
    <div class="data-header">
      <div *ngFor="let item of dataSource">
        <app-events-visualization [item]="item"></app-events-visualization>
      </div>
    </div>
    <div class="data-content">
      <igx-pie-chart #chart [dataSource]="dataSource" width="400px" height="400px"
        labelMemberPath="{{ labelMemberPath }}" valueMemberPath="totalEvents" [othersCategoryThreshold]="0"
        allowSliceExplosion="true" (sliceClick)="chart_SliceClicked($event)">
      </igx-pie-chart>
      <igx-grid *ngIf="gridData" [data]="gridData" [autoGenerate]="true" width="'400px'"></igx-grid>
    </div>
  </div>
</div>